<div class="row">
    <div class="columns large-9">
        <div class="button-group">
            <a class="button project_button" data-id="{{ gproject.id }}"
               title="Elaborar el presupuesto de este proyecto"><i class="fa fa-paste"></i> Presupuesto</a>
            <a class="button project_button" data-action="charter" data-id="{{ gproject.id }}"
               title="Elaborar el 'project charter' del proyecto"><i class="fa fa-file-text"></i> Project charter</a>
            <a class="button" href="/gantt/{{ gproject.id }}/"
               title="Programación del proyecto a través del diagrama de Gantt"><i class="fa fa-tasks"></i> Gantt</a>
            <a class="button project_button" data-action="repository" data-id="{{ gproject.id }}"
               title="Ir al respositorio de documentos del proyecto"><i class="fa fa-folder-open"></i> Repositorio</a>
            <a class="button remove_gproject alert" data-action="remove" data-id="{{ gproject.id }}"
               title="Borrar el proyecto"><i class="fa fa-trash"></i> Borrar</a>
        </div>
    </div>
    <div class="columns large-3" style="position: relative;">
        <input title="Fecha de comienzo del proyecto" type="text" name="start_date" class="start_date"
               value="{{ gproject.start_date|date:'d-m-Y' }}" data-id="{{ gproject.id }}">
            <span id="date_check" style="color:red;display: none;position: absolute;right: 5px;top: -10px;"><i
                                    class="fa fa-check"></i></span>
    </div>

</div>
<div class="row">
    <div class="columns large-6">
        <label>Nombre del proyecto: <span id="name_check" style="color:red;display: none;"><i
                                    class="fa fa-check"></i></span>
            <input type="text" name="name" id="name{{ gproject.id }}" class="name_gproject" value="{{ gproject.name }}"
                   data-id="{{ gproject.id }}">
        </label>
    </div>
    <div class="columns large-4">
        <label>Administrador: <span id="administrator_check" style="color:red;display: none;"><i
                                    class="fa fa-check"></i></span>
            <select name="administrator" id="administrator{{ gproject.id }}" data-id="{{ gproject.id }}">
                <option value="{{ gproject.administrator.id }}">{{ gproject.administrator.last_name }}, {{ gproject.administrator.first_name }}</option>
            </select>
        </label>
    </div>
    <div class="columns large-2">
        <label>Realizándose:</label>
        <div class="switch active_switch" data-id="{{ gproject.id }}">
            <input class="switch-input" id="active{{ gproject.id }}" type="checkbox" data-id="{{ gproject.id }}"
                   {% if gproject.active %}checked{% endif %}>
            <label class="switch-paddle" for="active{{ gproject.id }}">
                <span class="show-for-sr">Proyecto en proceso de ejecución</span>
                <span class="switch-active" aria-hidden="true">Sí</span>
                <span class="switch-inactive" aria-hidden="true">No</span>
            </label>
        </div>
    </div>
</div>
<div class="row">
    <div class="columns large-12">
        <label>Anotaciones para este proyecto: <span id="notes_check" style="color:red;display: none;"><i
                                    class="fa fa-check"></i></span>
            <textarea data-id="{{ gproject.id }}" name="notes" id="notes{{ gproject.id }}" class="gproject_notes"
                      rows="10">{{ gproject.notes }}</textarea>
        </label>
    </div>
</div>

<script>
    $('.active_switch').foundation();

    $('.start_date').fdatepicker({
        language: 'es',
        format: 'dd-mm-yyyy',
        weekStart: 1
    });

    $('.start_date').change(function (e) {
        var id = $(this).data('id');
        var start_date = $(this).val();
        $.post("/gprojects_ajax/", {action: 'change_date', id: id, start_date: start_date}, function (data) {
            $('#date_check').show().delay(1500).fadeOut();
        });
    });

    $('body').on('propertychange input', '.gproject_notes', function (e) {
        var id = $(this).data('id');
        var notes = $(this).val();
        $.post("/gprojects_ajax/", {action: 'change_notes', id: id, notes: notes}, function (data) {
                $('#notes_check').show().delay(1500).fadeOut();
        });
    });

    $('body').on('propertychange input', '.name_gproject', function (e) {
        var id = $(this).data('id');
        var name = $(this).val();
        $.post("/gprojects_ajax/", {action: 'change_name', id: id, name: name}, function (data) {
            $('#gproject_name' + id).html(data);
            $('#name_check').show().delay(1500).fadeOut();
        });
    });

    $('body').on('change', '#administrator{{ gproject.id }}', function (e) {
        var id = $(this).data('id');
        var value = $(this).val();
        $.post("/gprojects_ajax/", {action: 'change_administrator', id: id, administrator: value}, function (data) {
            $('#administrator_check').show().delay(1500).fadeOut();
        });
    });

    $("#administrator{{ gproject.id }}").select2({
        theme: "foundation",
        placeholder: "Escribe parte del nombre",
        minimumInputLength: 3,
        ajax: {
            url: "/seek_users/",
            dataType: 'json',
            delay: 250,
            data: function (params) {
                return {
                    q: params.term, // search term
                    page: params.page
                };
            },
            processResults: function (data) {
                return {
                    results: $.map(data, function (item) {
                        if (item.department) {
                            var department = ' (' + item.department + ')';
                        } else {
                            var department = '';
                        }
                        return {
                            text: item.last_name + ', ' + item.first_name + department,
                            id: item.id
                        }
                    })
                };
            }
        },
        templateResult: function (result) {
            return '<div class="select2-user-result">' + result.text + '</div>';
        },
        templateSelection: function (result) {
            return result.text;
        },
        escapeMarkup: function (markup) {
            return markup;
        }
    });
</script>