<!DOCTYPE HTML>
<html>

<head>
    <title>GAUSS Project - Recuperación de contraseña</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="/static/images/favicon.png">
    <link rel="stylesheet" href="/static/foundation-6/css/foundation.css"/>
    <link rel="stylesheet" href="/static/font-awesome-4.5.0/css/font-awesome.min.css"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="robots" content="all"/>
</head>

<body>

<form method="post" id="form_recover_password" name="form_recover_password">
    {% csrf_token %}
    <input type="hidden" name="action" id="action" value="">

    <div class="row">&nbsp;</div>
    <div class="callout secondary">
        <div class="row">
            <div class="large-6 small-6 medium-6 columns end text-right">
                <img src="/static/images/logo_gauss_project_acceso.png" height="76" width="273">
            </div>
        </div>
        <div id="introduce_mail">
            <div class="row">
                <div class="large-3 medium-2 small-1 columns">&nbsp;</div>
                <div class="large-9 medium-10 small-11 columns">
                    <ol style="font-size:0.9em;color:#31859c;">
                        <li>Introduce tu correo electrónico</li>
                        <li>Introduce las letras mostradas en la imagen</li>
                        <li>Pulsa en el botón "Solicitar contraseña"</li>
                        <li>Recibirás un mail de acceso a GAUSS</li>
                    </ol>
                </div>
            </div>

            <div class="row">
                <div class="large-3 medium-2 small-1 columns">&nbsp;</div>
                <div class="large-3 medium-4 small-5 columns text-right">
                    <label class="right inline">
                        <span style="font-size: 12pt;font-weight: 700;color: #31859c">E-mail</span>
                    </label>
                </div>
                <div class="large-3 medium-4 small-5 columns">
                    <label>
                        <input id="email" name="email" type="email" required maxlength="100" value="{{ email }}">
                    </label>
                </div>
                <div class="large-3 medium-2 small-1 columns">&nbsp;</div>
            </div>

            <div class="row">
                <div class="large-3 medium-2 small-1 columns">&nbsp;</div>
                <div class="large-3 medium-4 small-5 columns text-right">
                    <label class="right inline">
                        <span style="font-size: 12pt;font-weight: 700;color: #31859c">¿Eres humano?</span>
                        <br>
                        <span style="font-size: 12pt;font-weight: 700;color: #31859c"><a id="reload_captcha">Recargar
                            <i class="fa fa-refresh"></i> </a></span>
                    </label>
                </div>
                <div class="large-3 medium-4 small-5 columns">
                    <label id="captcha">
                        {{ form.captcha }}
                    </label>
                </div>
                <div class="large-3 medium-2 small-1 columns">&nbsp;</div>
            </div>

            <div class="row">
                <div class="large-3 medium-2 small-1 columns">&nbsp;</div>
                <div class="large-6 medium-8 small-10 columns text-right">
                    <input class="button" value="Solicitar contraseña" name="submit_mail" id="submit_mail">
                </div>
                <div class="large-3 medium-2 small-1 columns">&nbsp;</div>
            </div>
        </div>
    </div>
</form>


{% if reveal == 'reveal_check_captcha' %}
    <div class="reveal" id="reveal_check_captcha" data-reveal>
        <h1><i class="fa fa-child"></i> ¿Eres humano?</h1>
        <p class="lead">El texto de comprobación no coincide</p>
        <p>El texto utilizado para comprobar si eres humano no coincide con el patrón solicitado.</p>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% elif reveal == 'reveal_check_email' %}
    <div class="reveal" id="reveal_check_email" data-reveal>
        <h1><i class="fa fa-warning"></i> Error <i class="fa fa-envelope-o"></i></h1>
        <p class="lead">La dirección de correo no existe</p>
        <p>La dirección de correo introducida no está asignada en GAUSS a ningún usuario</p>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% elif reveal == 'reveal_check_correct' %}
    <div class="reveal" id="reveal_check_correct" data-reveal>
        <h1><i class="fa fa-thumbs-o-up"></i> ¡Perfecto! </h1>
        <p class="lead">Te hemos mandado un correo que te ayudará a recuperar tu contraseña.
            Te llegará en un par de minutos ...</p>
        <p>Quizás tengas que mirar en la bandeja de correo no deseado (spam) para verlo.</p>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}

<script src="/static/foundation-6/js/vendor/jquery.min.js"></script>
<script src="/static/foundation-6/js/foundation.min.js"></script>
<script src="/static/js/js.cookie.js"></script>

<script>
    var csrftoken = Cookies.set('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    {% if reveal == 'reveal_check_captcha' %}
        var reveal_check_captcha = new Foundation.Reveal($('#reveal_check_captcha'));
        reveal_check_captcha.open();
    {% elif reveal == 'reveal_check_email' %}
        var reveal_check_email = new Foundation.Reveal($('#reveal_check_email'));
        reveal_check_email.open();
    {% elif reveal == 'reveal_check_correct' %}
        var reveal_check_correct = new Foundation.Reveal($('#reveal_check_correct'));
        reveal_check_correct.open();
        $('body').on('closed.zf.reveal', '#reveal_check_correct', function () {
            window.location.href = '/';
        });
    {% endif %}

    $('#submit_mail').click(function (e) {
        document.form_recover_password.submit();
    });

    $('#reload_captcha').click(function (e) {
        e.preventDefault();
        $.post("/recover_password/", {action: 'reload_captcha'}, function (data) {
            $('#captcha').html(data);
        });
    })
</script>

</body>
</html>