<li class="accordion-item" data-accordion-item id="accordion{{ gbudget.id }}">
    <a href="#" class="accordion-title accordion_head"
       data-id="{{ gbudget.id }}"><i id="lock_{{ gbudget.id }}"
                                     class="fa {% if gbudget.removed %}fa-unlock{% else %}fa-lock{% endif %}"></i>
        &nbsp;&nbsp;&nbsp;<span id="gbudget_title{{ gbudget.id }}">{{ gbudget.title }}</span>
    </a>
    <div class="accordion-content" data-tab-content id="accordion_content{{ gbudget.id }}">
        <div class="row">
        <div class="columns large-12 center"><h5><i class="fa fa-spinner fa-pulse fa-fw"></i> Cargando </h5>
            <p>Esta operación puede tardar unos segundos.</p></div>
        </div>
    </div>
</li>